{% extends 'coffeeshop/base.html' %}


{% block content %}

    {% for provider in providers %}
                <div class="jumbotron">
                    <h3>Provider: {{ provider.name }}</h3>
                    <span>Contact: <strong>{{ provider.contact }}</strong></span>
                    <a class="btn-primary" href="{% url 'provider_detail' pk=provider.pk %}">Offer</a>
                </div>
    {% endfor %}

    <div>
        <a href="/provider/new/" class="btn btn-outline-primary btn-block mb-4">Add provider</a>
    </div>

{% endblock %}
